header{
    width: 100%;
    padding: 20px 0;
    .contenedor
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu{

            .btn{
                margin-left: 1rem;
            }
        }
    }
}


.AdminGrid {
    width: 100%;

    background-color: $Gris-Claro;
    padding-bottom: 7rem;

    .contenedor {

    
        padding-top: 50px;
        h3 {
            color: $Gris-Oscuro;
            font-size: 2.5rem;
            text-align: center;
          
            margin-bottom: 70px;
        }


        form {
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;

            
            .error{
                &::placeholder {
                    color: red;
                    
                  }
            }

            .row{
                margin-bottom: 2rem;
                label {
                  
                    font-size: 1rem;
                    font-style: italic;
                   
                }
                input{
                    height: 50px;
                   font-style: italic;
                   font-size: 15px;
                }

                .btnImg {
                    background-color: $Gris-Oscuro;
                    color: white;
                    padding: 0.5rem;
                    font-family: sans-serif;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    // margin-top: 1rem;
                    
                  }
                  
                  #file-chosen{
                    margin-left: 0.3rem;
                    font-family: sans-serif;
                  }
                
            }

            .btnAgregar {
                margin-top: 1rem;
                width: 100%;
                max-width: 100px;
                height: 50px;
                background-color: $Rojo;
                border: none;
                border-radius: 0.5rem;
                color: $Blanco;
                font-size: 1.2rem;

            }
            
        }
    }
}