.banner{
    width: 100%;
    height: 699px;

    background: url(../img/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @mixin btn {
        border: none;
        background: none;
        color:$Blanco;

        &:hover{
            cursor: pointer;
        }
    }

    @import "header.scss";
    @import "movieInfo.scss";
}