@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$Primary-Font:'Montserrat', sans-serif;
$Gris-Claro:#f3f3f3;
$Gris-Oscuro:#4b4c4e;
$Rojo:#e50000;
$Blanco:#fff;
$Negro:#000;