.movieInfo {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 170px;
    color: $Blanco;
   opacity: 1;
    animation: fadeIn 2s ease-in;
 
    h2 {
        font-size: 2.25rem;
        margin-bottom: 25px;
    }

    .detalle {
        font-size: 1.125rem;
        margin-bottom: 40px;
    }

   
    .btnBox {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 480px;

        .btnInfo{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
            font-size: 10px;
        }
     
           

        .btnBanner{
            background: none;
            color: $Blanco;
            border: 2px solid $Blanco;
            font-size: 1.125rem;
            width: 100%;
            max-width: 190px;
            height: 45px;
            transition: all 1s;
           
            i{
            margin-right: 5px;
            }
           
            &:hover{
            background: $Rojo;
            border: 2px solid $Rojo;
            cursor: pointer;
            }
            &:focus{
                outline: none;
            }

        }
       
    }
}
@keyframes fadeIn {
    0%{
        opacity:0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    
    100%{
        opacity: 1;
    }
    
    
  }